<h1>You received a new letter!</h1>
<p>Hello, {{receiver_name}} {{receiver_surname}}. {{sender_name}} {{sender_surname}} sent a letter to you. Check Soul's postbox, please</p>
<p>
    <a href="">Go to postbox</a>
</p>